ion-slides {
  background-color: black !important;
  text-align: justify !important;
}
  
ion-slides h2, ion-textarea {
  color: white;
}

.swiper-slide {
  text-align: justify !important;
  overflow-y: scroll;    
  display: block;  
}
