<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    
    <ion-slide>
      <canvas id="barCanvasAvaliacao"></canvas>
    </ion-slide>

    <ion-slide>
      <canvas id="barCanvasMelhorias"></canvas>
    </ion-slide>

    <ion-slide style="padding: 2%;">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of comentarios">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Comentário</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{item}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-slide>

  </ion-slides>
  
</ion-content>
