<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    
    <ion-slide>
      <canvas id="barCanvasAvaliacao"></canvas>
    </ion-slide>

    <ion-slide>
      <canvas id="barCanvasMelhorias"></canvas>
    </ion-slide>

    <ion-slide style="padding: 2%;">
      <div id="container">
        <ion-grid>
          <ion-row *ngFor="let item of comentarios">
            <ion-col >
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>{{item.feedback}}</ion-card-subtitle>
                  <ion-card-title>{{item.data}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  {{item.comentario}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      
    </ion-slide>

  </ion-slides>
  
</ion-content>
